.container-details-view {
  width: 100%;
  display: flex;
  overflow: auto;
  height: 100vh;

  overflow-y: auto;

  .boardDetails {
    height: 100vh;
  }

  .loading {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    img {
      width: 430px;
    }
  }
}

@media (max-width: 620px) {
}
