// @font-face {
//     font-family: Bahnschrift;
//     src: url(~@/assets/fonts/Bahnschrift/bahnschrift.ttf);
// }

@font-face {
  font-family: roboto-light;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto-medium;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: icon-font;
  src: url(../fonts/monday/monday-icons-html.woff);
}
@font-face {
  font-family: roboto-thin;
  src: url(../fonts/roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
