// // SETUP
@import 'setup/variables';

// // BASICS
@import 'basics/helpers';
@import 'basics/base';

// // COMPONENTS
@import 'components/_side-bar';
@import 'components/_boards-nav-bar';
@import 'components/_main-menu';
@import 'components/_boards-nav-bar';
@import 'components/_board-header-main';
@import 'components/_board-toolbar';
@import 'components/board-filter';
@import 'components/group-list';
@import 'components/kanban-group-list';
@import 'components/kanban-task-list';
@import 'components/task-list';
@import 'components/task-preview';
@import 'components/board-details-header';
@import 'components/columns-header';
@import 'components/task-preview';
@import 'components/title-preview';
@import 'components/add-task';

// dynamic cmps
@import 'components/dynamic-cmps/task-cmp';
@import 'components/dynamic-cmps/status-cmp';
@import 'components/dynamic-cmps/date-cmp';
@import 'components/dynamic-cmps/text-cmp';
@import 'components/dynamic-cmps/priority-cmp';

// views
@import 'views/boardDetailsView';
@import 'views/_boardView';
@import 'views/task-details';
@import 'views/loginView';
