.timeline-picker {
  align-items: center;
  justify-content: center;
  width: 155px;
  background-color: #f7f7f9;
  margin-left: 2px;
  cursor: pointer;
  .block {
    position: relative;
    &:hover {
      cursor: pointer;
      color: white;
      .date-to-show {
        display: none;
      }
      .days-count-to-show {
        display: initial;
      }
    }
  }
  .timeline {
    display: flex;
    position: relative;
    width: 200px;
    background-color: transparent;
    border: none;
    .el-icon-date,
    .el-range-input,
    .el-range-separator {
      opacity: 0;
    }
    .el-range__close-icon {
      margin-top: 4px;
    }
  }
  .time-to-show {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 2px 0;
    margin: auto;
    margin-left: 2px;
    border-radius: 20px;
    line-height: 1.4;
    color: white;
    height: 35px;
    .days-count-to-show {
      visibility: visible;
      &:hover {
        visibility: hidden;
      }
    }
    .date-to-show {
    }
  }

  .el-tooltip__trigger {
    opacity: 0;
  }
}
