.person-cmp {
  background-color: #f5f6f8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 35px;
  // margin-left: 2px;

  .plus-icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
  }

  .container {
    // margin-right: 15px;
  }
}

.divider-p {
  margin: 0;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  text-align: center;
}
