.priority-cmp {
  background-color: lightpink;
  min-width: 150px;

  .currOpt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    cursor: pointer;
    height: 35px;
    color: white;
  }

  .el-dropdown-link {
    margin-left: 0px;
  }
  .el-dropdown-menu {
    width: 150px;
  }
  .el-tooltip__trigger {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .el-dropdown-link {
    margin-left: 0px;
  }
}
