.board-details-header {
  width: calc(100vw - 120px);
  padding: 15px 30px;
  position: sticky;
  left: 0;
}
.nav-bar-open {
  position: sticky;
  left: 0;
  width: calc(100vw - 340px);
}

@media (max-width: 620px) {
  .board-details-header {
    width: 100vw;
    margin-top: 70px;

    .subtitle {
      width: 80vw;
    }
  }
}
