.board-details-header {
  width: calc(100vw - 120px);
  padding: 15px 30px;
  // transition: all 0.8s;
  // border-bottom: 1px solid #d0d4e4;

  position: sticky;
  left: 0;
}

.nav-bar-open {
  position: sticky;
  left: 0;
  width: calc(100vw - 340px);
}
