.board-filter {
  height: 65px;
  border-top: 1px solid #d0d4e4;
  // background-color: lightseagreen;
  min-height: 35px;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  .blue-btn {
    cursor: pointer;
    background-color: $blue;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #d0d4e4;
    border: none;
    color: white;
    font-size: 14px;
  }
  .half-btn {
    color: white;
    background-color: $blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    // border-left: ;
    height: 36px;
  }
  .icon-img-person {
    width: 15px;
  }
  div {
    padding-left: 7px;
    display: flex;
    align-items: center;
    .search-icon {
      border-radius: 5px;
      color: #68696c;
    }
    .input-container {
      input {
        width: 115px;
        // padding: 5px 5px 5px 5px;
        border: none;
        transform: width 1s;
        font-size: 14px;
        // line-height: 24px;
        transition: width 0.1s;

        &:hover {
          background-color: #dcdfec;
          border-radius: 5px;
          // cursor: pointer;
        }

        &:focus {
          outline: none !important;
          box-shadow: inset 0px 0px 0px 1px $blue;
          border-radius: 5px;
          width: 200px;
          background-color: white;
        }
      }
    }
    button {
      background-color: white;
      min-width: 100px;
      color: #68696c;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      line-height: 24px;
      padding: 5px;

      &:hover {
        background-color: #dcdfec;
      }
    }
  }
}
form.nosubmit {
  border: none;
  padding: 0;
}
.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  // filter: opacity(0.7);
}
.sort-icon {
  width: 15px;
  // height: 40px;
  margin-top: 5px;
  margin-right: 5px;
  color: #68696c;
  filter: opacity(0.6);
}
.filter {
  width: 15px;
  // height: 40px;
  margin-top: 7px;
  margin-right: 7px;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
.img-filter-person {
  width: 32px;
  height: 16px;
  margin: 3px 0px 0px;
  margin-top: 3px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.filter-person {
  display: flex;
  justify-content: center;
}
.pin-icon {
  // width: 20px;
}

// input:focus {
//   // background-color: red;
//   padding: 5px;
//   border: 1px solid red;
// }
// input:focus {
//   outline: none !important;
//   box-shadow: inset 0px 0px 0px 1px $blue;
//   border-radius: 5px;
// }
