.board-header-main {
  min-height: 40px;
  display: flex;
  justify-content: space-between;

  &:first-child {
    min-width: 20px;
  }

  .menu-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid $clr1;
    position: absolute;
    left: 85px;
    font-size: 18px;
    transition: width 0.1s;
    cursor: pointer;
    color: #323338;

    &:hover {
      background-color: $blue;
      width: 30px;
      border-radius: 30px;
      color: white;

      .arrow-right-icon {
        color: white;
      }
    }
  }
  .icon-header {
    width: 20px;
    margin-right: 5px;
  }

  .invite {
    padding: 10px;
  }

  .right-side-header {
    display: none;

    align-items: center;
    color: #3d3e43;

    .add-to-board {
      border: 1px solid #c3c6d4;
      margin-left: 10px;
      padding: 7px 10px;
      color: #3d3e43;

      &:hover {
        background-color: #dcdfec;
      }
    }

    .last-seen-btn {
      display: flex;
      &:hover {
        background-color: #dcdfec;
      }

      button {
        display: flex;
        align-items: center;
        color: #3d3e43;
      }
    }

    div {
      border-radius: 5px;

      button {
        background-color: white;
        border: none;
        border-radius: 5px;
        padding: 7px 15px;
        font-size: 14px;
        color: #3d3e43;
        &:hover {
          background-color: #dcdfec;
        }
      }
    }
    .dots-icon {
      width: 20px;
      height: 15px;
      margin: 0 0 0 15px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #323338;
    div {
      cursor: pointer;
    }

    span {
      display: flex;
      justify-content: center;
      margin-left: 5px;
    }

    .input-title {
      display: flex;
      justify-content: center;
      margin-left: 5px;
      font-size: 35px;
      border: none;
      min-width: 100px;
      width: 190px;

      &:focus {
        outline: none !important;
      }
    }

    h1 {
      font-family: roboto-light, Rubik, 'Noto Kufi Arabic', 'Noto Sans JP',
        sans-serif;
      font-size: 20px;
      line-height: 40px;
      height: 42px;
      color: #3d3e43;
    }
  }
}
.subtitle {
  color: #757585;
  width: 50vw;
  padding: 3px;
  cursor: pointer;

  &:hover {
    outline: 1px dashed #c5c7d0;
  }

  input {
    border: none;
    &:focus {
      outline: none !important;
    }
  }
}
.board-header-content {
  min-height: 190px;
  padding: 30px 30px 0px 30px;
  position: sticky;
  left: 0;
}

.container-dots {
  display: flex;
}

.invite-user-img {
  width: 13px;
  height: 13px;
}

.star-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.info-icon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  color: #676879;
}

.arrow-right-icon {
  width: 7px;
  margin: 0px;
  color: #323338;
}

@media (max-width: 850px) {
  .board-header-main {
    justify-content: center;

    .right-side-header {
      .last-seen-btn,
      .invite-btn,
      .invite,
      .add-to-board,
      .container-dots {
        display: none;
      }
    }

    .title {
      font-size: 25px;
    }
  }
  p {
    &.subtitle {
      text-align: center;
      width: 100%;
    }
  }
}
