.columns-header {
  .titles {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 16px;
    color: #68696c;

    .container-first-title {
      position: sticky;
      left: 3px;

      .grip-icon {
        transform: rotate(90deg);
        margin: 5px;
        cursor: move;
      }
    }

    .title {
      background-color: #ffffffe0;
      min-width: 325px;
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
    }

    .cmp-title {
      min-width: 150px;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin-left: 2px;

      .input-container {
        input {
          width: 100%;
          &:focus {
            outline: none !important;

            border: 0.5px solid #817f7c;
          }
        }
      }

      .btn-down-task-container {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        margin-left: 15px;

        &:hover {
          color: rgb(0, 0, 0);
          background-color: white;
          border: 1px solid;
          cursor: pointer;
        }
      }
    }
  }
  .el-dropdown-link {
    margin-left: 9px;
    display: flex;
    color: white;
  }
}

@media (max-width: 620px) {
  .columns-header {
    .titles {
      .title {
        // min-width: 190px;
        min-width: 65vw;
      }
    }
  }
}
