.container-groups {
  // height: calc(100vh - 227px);
  // overflow-x: auto;
  background-color: rgb(255, 255, 255);
  // background-color: lightcoral;
  // width: calc(100vw - 120px);
  padding-bottom: 12px;

  .smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
    overflow: inherit;
  }
  &.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
    overflow: inherit;
    display: block;
  }
}
.group-list {
  padding: 15px 0px;
}

@media (max-width: 620px) {
  .group-list {
    padding: 0;
  }
}
