.kanban-group-list {
  .groups-container-kanban {
    display: flex;
    width: 100%;
    margin: 15px;

    .group-kanban {
      margin: 10px;
      padding: 15px 0 0px 5px;
      min-width: 250px;
      min-height: 300px;
      cursor: grab;
      border-radius: 10px;

      &:active {
        cursor: -webkit-grabbing;
      }

      .grip-icon {
        transform: rotate(90deg);
        margin: 5px;
        cursor: move;
        position: absolute;
        color: #eaebef;
      }

      .title {
        min-height: 30px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: move;
      }

      .input-container {
        input {
          height: 30px;
          border: none;
          border-radius: 5px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          width: 100%;
          background-color: #ecedf1;
          margin: 0 0 5px 0;
          cursor: pointer;
          padding: 20px;

          &:focus {
            outline: none !important;
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .kanban-group-list {
    .groups-container-kanban {
      margin: 0;
      flex-direction: column;
      align-items: center;
    }
  }
}
