.main-menu-mobile {
  display: none;
}
.main-menu {
  z-index: 15;
  background-color: #292f4c;
  width: 70px;
  // width: 4.642857rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: white;
  // position: fixed;

  .container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-icon {
    cursor: pointer;
  }

  .toggle-nav-bar {
    position: absolute;
    left: 87px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d0d4e4;
    cursor: pointer;
    transition: width 0.3s;

    &:hover {
      background-color: $blue;
      width: 35px;
      border-radius: 20px;

      .icon-right {
        color: white;
      }
    }

    .icon-right {
      color: #68696c;
    }
  }
}
.icon {
  position: relative;
  width: 35px;
  height: 67px;
  left: 3px;
  top: 3px;
  cursor: pointer;

  .logo {
    font-size: 1.5em;
    display: flex;
    position: relative;
    margin-top: -25px;
    font-weight: bold;

    .blue {
      position: absolute;
      border: 1px solid #00c875;
      width: 25px;
      height: 12.5px;
      top: 30px;
      left: -3px;
    }
    .yellow {
      position: absolute;
      width: 12.5px;
      height: 25px;
      border: 1px solid #ffcb00;
      left: 15px;
      top: 35px;

      .green-dot {
        width: 1px;
        height: 1px;
        background-color: #00c875;
        left: -1px;
        position: absolute;
        top: 5.5px;
      }
    }
    .red {
      position: absolute;
      width: 12.5px;
      height: 12.5px;
      left: 24px;
      top: 30px;
      border: 1px solid #e2435c;

      .yellow-dot {
        width: 1px;
        height: 1px;
        background-color: #ffcb00;
        left: 1.5px;
        position: absolute;
        bottom: -1px;
      }
    }
  }
}
.container-name-icon {
  background-color: #ffffff;
  padding: 5px;
  width: 45px;

  border-radius: 50%;
}
.name-icon {
  height: 40px;
  display: flex;
  width: 40px;
  align-items: center;
  // border: 1px solid rgb(0, 0, 0);
  justify-content: center;
  // background-color: #ffcc00;
  font-size: 16px;
  // padding: 2px;
  // margin-bottom: 20px;
  border-radius: 50%;
  // padding: 10px;
}
.icon-container {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu a {
  color: white;
  text-decoration: none;
}

.board-toolbar {
  height: 45px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: lightyellow;
}
.top-navigation-items-area {
  // background-color: #facbc9;
  // height: 580px;
  display: flex;
  flex-direction: column;
}

.top-navigation-items-area div {
  // background-color: #ffcc00;
  z-index: 5;
  display: flex;
  width: 35px;
  height: 35px;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  // cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.toolbar-btn {
  // border: 1px solid #facbc9;
}
.bottom-navigation-items-area {
  z-index: 5;
  div {
    width: 35px;
    height: 35px;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 7px;
    border-radius: 10px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
.bottom-navigation-items-area div img {
  width: 25px;
}
.subsets-tab {
  background-color: #d0d4e4;
  width: 1px;
  margin: 8px 8px;
  height: 24px;
  padding: 0;
  min-width: 1px;
}
.cliked-btn-nav {
  background-color: rgba(255, 255, 255, 0.3);
}

.seen-plans {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #258750;
  border-radius: 0 16px 16px 0;
  height: 110px;
  width: 35px;
  top: 43%;
  left: 0;
  transition: width 0.3s;

  &:hover {
    width: 40px;
  }
  p {
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    writing-mode: vertical-rl;
    // writing-mode: tb-rl;
    // font-family:rob;
    font-size: 15px;
    line-height: 22.5px;
  }
}

@media (max-width: 620px) {
  .main-menu {
    display: none;
    .toggle-nav-bar {
      left: 57px;
    }
  }

  .main-menu-mobile {
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #292f4c;
    padding: 0 10px;
    width: 100vw;
    height: 70px;

    .icon {
      .logo-container {
        position: relative;
        width: 35px;
        height: 67px;
        left: 2px;
        top: 13px;
        cursor: pointer;

        .logo {
          font-size: 1.5em;
          display: flex;
          position: relative;
          margin-top: -25px;
          font-weight: bold;

          .blue {
            position: absolute;
            border: 1px solid #00c875;
            width: 25px;
            height: 12.5px;
            top: 30px;
            left: -3px;
          }
          .yellow {
            position: absolute;
            width: 12.5px;
            height: 25px;
            border: 1px solid #ffcb00;
            left: 15px;
            top: 35px;

            .green-dot {
              width: 1px;
              height: 1px;
              background-color: #00c875;
              left: -1px;
              position: absolute;
              top: 5.5px;
            }
          }
          .red {
            position: absolute;
            width: 12.5px;
            height: 12.5px;
            left: 24px;
            top: 30px;
            border: 1px solid #e2435c;

            .yellow-dot {
              width: 1px;
              height: 1px;
              background-color: #ffcb00;
              left: 1.5px;
              position: absolute;
              bottom: -1px;
            }
          }
        }
      }
    }

    .bars-container {
      .bars {
        color: white;
        font-size: 25px;
      }
    }
  }
}
