.task-preview {
  display: flex;
  padding-bottom: 1px;
  margin-left: 10px;

  .end-cmps {
    background-color: rgb(245 246 248 / 85%);
    width: 25px;
    display: flex;
    justify-content: flex-end;
    margin-left: 2px;

    div {
      background-color: #d0d4e4;
      width: 10px;
    }
  }
}

.left-btn-task {
  .el-tooltip__trigger {
    width: 30px;
  }
}

@media (max-width: 620px) {
  .task-preview {
    margin-bottom: 60px;
    .status-cmp,
    .person-cmp,
    .priority-cmp,
    .timeline-picker,
    .text-cmp,
    .end-cmps {
      position: relative;
      top: 40px;
      left: -115px;
    }

    .left-btn-task {
    }
  }

  .columns-header {
    .titles {
      .cmp-title {
        position: relative;
        left: -125px;
        top: -30px;
      }
    }
  }
}
