* {
  box-sizing: border-box;
}

html {
  font-family: roboto-light, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  // padding: 0;
}
html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
p {
  margin: 0;
}

.app-container {
  flex: 1;
  // min-width: 100%;
}

.blue-symbl {
  width: 20px;
  height: 31px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $blue;
}

.empty-div {
  // position: relative;
  width: 30px;
  background-color: #f6f7fb;
  height: 100vh;
  border-right: 1px solid #d0d4e4;
}

.toolbar-btn {
  border: 1px solid #facbc9;
}
