// Flex
.flex {
  display: flex;
  // flex: 1;
  // overflow: hidden;
}

.fixed {
  position: fixed;
}

.inline-flex {
  display: inline-flex;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Text
.vertical-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

//test
.removeSide {
  display: none !important;
}
